@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
body{
background-color:#F9F8D6;
background-image: url(https://static.tumblr.com/3869f2da0f3d67ee38c28a1380ac3009/dn8hj2o/aw0ogrmel/tumblr_static_437i1aqm00qo4kk8kgwoo8w4k_640_v2.jpg);
background-repeat: no-repeat;
margin-top: 80px;

  }
  .image
  {
    padding: 400px;
    background-repeat: no-repeat;
    margin-left: 1100px;
  }
.instruction-content
  {
    font-family: Chakra Petch,serif;
    margin-left: 800px;
    margin-top: 40px;
  }
  #start
  {

    background-color: #A3E4D7;
    padding: 20px;
    margin-left: 200px;
    border:none;
    font-family: Chakra Petch,serif;
    font-size: 20px;
  }
.titulo
{
  font-family: Chakra Petch,serif;
  font-size: 20px;
  padding: 5px;
  background-color:gray;
  opacity: inherit;
  color: white;
  align-content: center;
  text-align: center;
}
.message-content {
    color: #F5BB3E;
    width: 500px;
    border: 0px ;
    padding: 25px;
    margin-left:700px;
    margin-top: 0px;
    font-family: Chakra Petch,serif;
}
.clave-content
{
  background-color:#020836;
  font-color=white;
  width: 500px;
  border: 0px ;
  padding: 25px;
  margin-left:700px;
  margin-top: 0px;
font-family: Chakra Petch,bold;

}
#form1
{
display: none;

}
.buttons-content{
  background-color:#566573;
  width: 500px;
  padding: 25px;
  margin-left:700px;
  margin-top: 0px;
  font-family: Chakra Petch,serif;

}
#btn-cipher{
background-color: #2471A3;
border: none;
color: white;
padding: 20px;
width: 225px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: : 10px;
cursor: pointer;
border-radius: 5px;
}
#btn-decipher
{
  background-color: #2471A3;
  border: none;
  color: white;
  padding: 20px;
  font-family: Chakra Petch,serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  width: 225px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
}
.footer
{
background-color: black;
}
#message
{
width: 200px;
padding: 50px;
font-family: Chakra Petch,serif;

}
#moveTo
{
width: 20px;
padding: 10px;
font-family: Chakra Petch,serif;
}
label
{

  display: block;
}
