@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
body{
background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/05/11/351744/b28174bf49f03394f95316250572cccb.jpg");

}
.titulo
{
  font-family: Chakra Petch,serif;
  font-size: 20px;
  padding: 10px;
  background-color:black;
  opacity: inherit;
  color: white;
}
.message-content {
    background-color: #F5BB3E;
    width: 500px;
    border: 0px ;
    padding: 25px;
    margin-left:800px;
    margin-top: 0px;
    font-family: Chakra Petch,serif;
    color:black;

}
.clave-content
{
  background-color:#707B7C;
  width: 500px;
  border: 0px ;
  padding: 25px;
  margin-left:800px;
  margin-top: 0px;
font-family: Chakra Petch,bold;

}
.buttons-content{
  background-color:#566573;
  width: 500px;
  padding: 25px;
  margin-left:800px;
  margin-top: 0px;
  font-family: Chakra Petch,serif;


}
#btn-cipher{
background-color: #2471A3;
border: none;
color: white;
padding: 20px;
width: 225px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: : 10px;
cursor: pointer;
border-radius: 5px;
}
#btn-decipher
{
  background-color: #2471A3;
  border: none;
  color: white;
  padding: 20px;
  font-family: Chakra Petch,serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  width: 225px;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
}
.footer
{
background-color: black;
}
#message
{
width: 200px;
padding: 50px;
font-family: Chakra Petch,serif;

}
#moveTo
{
width: 20px;
padding: 10px;
font-family: Chakra Petch,serif;
}
